@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-ExtraLight.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-SemiBold.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Light.woff2') format('woff2'),
  url('../fonts/Manrope/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Manrope', Arial, sans-serif;
}

// large border radius
.card,
.chart-block .card,
.news .card a img,
.offers-block__overlay,
.social-block,
.news-block__item,
.offers-block__item,
.info-block__item,
.card.page-title,
.homescreen {
  border-radius: 15px;
}
.card.page-title .page-title__info .telegram-link {
  border-radius: 10px;
}
// middle border radius
.nav-tabs li:not(.addon) a {
  border-radius: 8px 8px 0 0;
}
// small border radius
.pagination > li > a, .pagination > li > span,
.btn-green,
.news-block__icon img,
.select-list .select2-dropdown {
  border-radius: 5px;
}

//box-shadow
.chart-block .card,
.pagination > li > a, .pagination > li > span,
.card.page-title,
.card,
.offers-block__overlay,
.social-block,
.news-block__item,
.offers-block__item,
.info-block__item,
.homescreen {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
}
.row.news {
  .article:first-child {
    .card {
      border-top-left-radius: 0;
    }
  }
}
html body .offers-block__item .offers-block__img {
  border-radius: 17px 17px 5px 5px;
}
.site-nav__wrap {
  box-shadow: 1px 0px 10px rgba(70, 91, 122, 0.15);
}
.instructions__aside-title {
  border-radius: 15px 15px 0 0;
}
.instructions__aside-wrap {
  border-radius: 15px 0 0 15px;
}